body {
  margin-top: 125px;
  margin-bottom: 40px;
}

.theme-color {
  color: #30bdb7;
}

.bg-theme {
  background: #30bdb7;
}

.font-15 {
  font-size: 15px;
}

.p15 {
  padding: 15px 0;
}

hr {
  border: none;
  height: 1px;
  color: #dcdada;
  background-color: #eee;
}

.btn-theme {
  background: #576d3e;
  color: white;
}

.rborder {
  border-right: 1px solid #eee;
}

.exhibition {
  color: #30bdb7;
}

.exh-title {
  padding-left: 20px;
  font-weight: bold;
}

.product img {
  border: 1px solid #eae8e8;
}

.product a h3 {
  text-decoration: none;
  text-align: center;
  padding: 14px 5px;
  color: #525151;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.product a:hover {
  text-decoration: none;
  color: #30bdb7;
}

ul {
  list-style-type: circle;
}

ul li {
  font-size: 1rem;
}

p.vegetable {
  color: green;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

p.fruit {
  color: rgb(194, 59, 6);
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

#footer {
  color: #444444;
  font-size: 14px;
  background: #f1f0f2;
}

.mb30 {
  margin-bottom: 30px;
}